@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Make the phone input's container flexible */
.phone-input-custom {
  display: flex;
  align-items: center;
  width: 100%;
}

/* Remove margin from the country flag icon */
.PhoneInputCountryIcon {
  margin: 0 !important;
}
